*.pyc
*.gz
*.wav
*.pickle
*data*dat
*.ipynb_checkpoints
*.ipynb_checkpoints*
*ipynb_checkpoints
*png
*pdf
*eps
nncheck/
docs/
test/
epynn.sh
*dat
nnlibs/statistics.py
nnlive/statistics.py
*.ai
dist/
EpyNN.egg-info/
pyproject.toml
setup.py
MANIFEST.in
__pycache__/
__init__.py
bin/
