webupdate.sh
*.pyc
*.gz
*.wav
*.pickle
*data*dat
*.ipynb_checkpoints
*.ipynb_checkpoints*
*ipynb_checkpoints
*png
*pdf
*eps
nncheck/
docs/
test/
epynn.sh
*dat
nnlibs/statistics.py
nnlive/statistics.py
*.ai
dist/
build/
*.egg-info/
*.egg
__pycache__/
__init__.py
*/__init__.py
statistics.py
*statistics.py
pypi.sh
setup.py
